## Question 1
The following table indicates the number of 6-point scores in an American rugby match in the 1979 season.

![](table1.png)

Based on these results, we create a Poisson distribution with the sample mean parameter  = 2.435. Is there any reason to believe that at a .05 level the number of scores is a Poisson variable?

In [1]:
# your answer here
import pandas as pd 
import numpy as np 
from scipy.stats import poisson
from scipy.stats import chisquare
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.DataFrame({'Number of scores' : [0,1,2,3,4,5,6,7], 'Number of times': [35,99,104,110,62,25,10,3]})

In [3]:
data

   Number of scores  Number of times
0                 0               35
1                 1               99
2                 2              104
3                 3              110
4                 4               62
5                 5               25
6                 6               10
7                 7                3

In [4]:
mu=2.435
alpha=0.05
score = [0,1,2,3,4,5,6,7]
freq= [35,99,104,110,62,25,10,3]

## Question 2
The following are the ordered values of a random sample of SAT scores (university entrance exam) for several students: 852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063. In previous years, the scores were presented by N (985,50). Based on the sample, is there any reason to believe that there has been a change in the distribution of scores this year? Use the level alpha = 0.05.

In [5]:
#your answer here
data1 = pd.DataFrame({'SAT scores' : [852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063]})

In [6]:
data1

    SAT scores
0          852
1          875
2          910
3          933
4          957
5          963
6          981
7          998
8         1010
9         1015
10        1018
11        1023
12        1035
13        1048
14        1063

In [9]:
mean = 985
std = 50

sat_mean = data1['SAT scores'].mean()
sat_stdv = data1['SAT scores'].std()

print(sat_mean, sat_stdv)

978.7333333333333 63.0152664798286

Hypothesis
H0 : the scores follow the normal distribution with the mean of 985 and standard deviation of 50
H1 : the scores doesn't follow the normal distribution with the mean of 985 and standard deviation of 50

## Question 3
Let's analyze a discrete distribution. To analyze the number of defective items in a factory in the city of Medellín, we took a random sample of n = 60 articles and observed the number of defectives in the following table:

![](table4.png)

A poissón distribution was proposed since it is defined for x = 0,1,2,3, .... using the following model:

![](image1.png)

Does the distribution of defective items follow this distribution?

In [10]:
# your code here
data2 = pd.DataFrame({'defects': [0,1,2,3,4], 'freq' : [32,15,0,9,4]})

In [11]:
data2

   defects  freq
0        0    32
1        1    15
2        2     0
3        3     9
4        4     4

In [15]:
total_defects = 0*32 + 1*15 +2*0 +3*9 +4*4
n = 60
mu = total_defects / n
print(mu)

0.9666666666666667

In [16]:
freq = data2.freq
freq

0    32
1    15
2     0
3     9
4     4
Name: freq, dtype: int64

## Question 4
A quality control engineer takes a simple of 10 tires that come out of an assembly line, and would like to verify on the basis of the data that follows, if the number of tires with defects observed over 200 days, if it is true that 5% of all tires have defects (that is, if the sample comes from a binomial population with n = 10 and p = 0.05).

In [ ]:
# your answer here

## Question 5
A researcher gathers information about the patterns of physical activity (AF) of children in the fifth grade of primary school of a public school. He defines three categories of physical activity (1 = Low, 2 = Medium, 3 = High). He also inquires about the regular consumption of sugary drinks at school, and defines two categories (1 = consumed, 0 = not consumed). We would like to evaluate if there is an association between patterns of physical activity and the consumption of sugary drinks for the children of this school, at a level of 5% significance. The results are in the following table: 

![](table5.png)

In [ ]:
#your answer here